.alert {border-radius: unset;}
/* font size text */
.fs-14{font-size: 0.875rem;}
/* Show/Hide password*/
/*.showhidden {
    font-size: 0.75rem; 
    line-height: 2.3;
    background-color: white;
    display: none;
    cursor: pointer;
}*/

.navbar-brand {
    color: #202020;
    padding: 8.5px 0;
    font-weight: 500;
    margin-top: -1px;
}

/* RESET STYLES */
*:hover, *:focus, *:active {
  outline: none !important;
  box-shadow: none !important;
}

/*.material-icons{font-size: 1.125rem;}/*18px*/
.showhidden{
    position: absolute;
    top: 70%;
    display: none;
    cursor: pointer;
    right: calc(.375em + .1875rem);
    transform: translateY(-45%);
    margin: 0;
    padding: 0;
    white-space: nowrap;
    z-index: 100;
    color: #495057;
    font-size: 1.375rem;
}
section h1{font-size: 2.125rem;}/*34px*/
label {
    font-size: 14px;
    color: #2D2D2D;
    margin-bottom: .25rem;
    font-weight: 500;
}

.invalid-feedback {color: #F44336;}
.form-control.is-invalid{background-image: unset;padding: .375rem .75rem;}
.form-control.is-invalid{border: 1px solid #F44336;}

.form-footer{display: flex; align-items: center;}
.form-footer>:not(:last-child) {margin-right: .25rem;}
.form-footer>:not(:first-child) {margin-left: .25rem;}

.form-control:focus {border-color: #2188ff;}
.form-control {
    height: calc(1.5em + 1rem + 2px);
    line-height: 1.15;
}
/*ICONS*/
i.right {
    float: right;
    margin-left: 5px;
}
i.left {
    float: left;
    margin-right: 5px;
}
.left {
    float: left!important;
}
.right {
    float: right!important;
}
/*END ICONS*/

.btn-lg {font-size: 1rem;}
/*table */
table {font-size: .875rem;}/*14px*/

.required{color: red;font-weight: bold;}

/* BACK TO TOP */
.cd-top {
    display: inline-block;
    height: 45px;
    width: 45px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    border-radius: 4px;
    cursor: pointer;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    /* image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    /*(220, 53, 69, 0.8)*/
    background: rgba(220, 20, 60, 0.8) url(../img/cd-top-arrow.svg) no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
    transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
}

.cd-top.cd-top--show,
.cd-top.cd-top--fade-out,
.cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
    transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
}

.cd-top.cd-top--show {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
}

.cd-top.cd-top--fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: .5;
}

.cd-top:hover {
    background-color: #343a40;
    opacity: 1;
}

@media only screen and (min-width: 768px) {
    .cd-top {
        right: 20px;
        bottom: 20px;
    }
}

@media only screen and (min-width: 1024px) {
    .cd-top {
        height: 50px;
        width: 50px;
        right: 30px;
        bottom: 30px;
    }
}
/*END BACK TO TOP*/
.text-crimson{color: crimson;}
/*MODO DARK*/
body.dark{
    background-color: #202020!important;
    color: #b3b9c5!important;
}
nav.dark{
    background-color: #131313!important;
    color: #b3b9c5!important;
}
label.dark{color: #b3b9c5;}
button.dark-switcher{
    border: none;
    background-color: transparent;
}
.theme-icon {
    height: 24px;
    width: 24px;
    min-width: 24px;
    margin-bottom: 0;
}
/*END MODO DARK*/